@model List<Favorites>

@*Do an orderbyname? *@
    

    

    <h2>Favorites</h2>
<div>
<table>
    <tr>
        <th>ID</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Genre</th>
    </tr>
    @foreach(Favorites f in Model)
    {
        <tr>
            <td>
                <p>@f.Id</p>
            </td>
            <td>
                <p>@f.Artist</p>
            </td>
            <td>
                <p>@f.Album</p>
            </td>
            <td>
                <p>@f.AlbumId</p>
            </td>
            <td>
                <form asp-controller="Music/Delete" asp-action="Delete" method="post">

                    <input type="submit" value="Delete" class="btn btn-danger" asp-route-id="@f.Id" />
                    <button type="submit"
                            name="id"
                            value="@f.Id"
                            form="remove"
                            asp-page-handler="RemoveFavorite"
                            class="btn btn-danger btn-rounded btn-sm my-0">
                        Remove
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
    </div>
﻿