@model MusicSearch
@*For Tracks in a MusicSearch (Assuming that the Datum is a simplified MusicTrack*@
@foreach (Datum d in Model.data)
{
    if (d.id == ViewBag.TrackID)
    {
        <h4>Results for Track ID: @d.id</h4>
        <p><b>Title:</b> @d.title</p>
        <p><b>Readable: </b> @d.readable</p>
        <p><b>Link:</b> <a href=@d.link>@d.link</a></p>
        <p><b>Duration: </b> @d.duration</p>
        <p><b>Rank: </b> @d.rank</p>
        <p><b>Explcit: </b> @d.explicit_lyrics</p>
        <p style="margin-left:2em"><b>Lyrics?: </b> @d.explicit_content_lyrics</p>
        <p style="margin-left:2em"><b>Cover?: </b> @d.explicit_content_cover</p>
        <p><b>Preview: </b> @d.preview</p>
        <img src="@d.md5_image" alt="md5_image" />
        <p><b>Type:</b> @d.type</p>
        <p><b>Artist:</b> <a href=@d.artist>@d.artist.name</a></p>
        <p><b>Album:</b> <a href=@d.album>@d.album.title</a></p>
    }
}

@*For Albums in a MusicSearch's Datum*@
@foreach (Datum d in Model.data)
{
    if (d.album.id == ViewBag.AlbumID)
    {
        <h4>Results for Album ID: @d.album.id</h4>
        <p><b>Title:</b> @d.album.title</p>
        <img src="@d.album.cover" alt="cover" />
        <img src="@d.album.md5_image" alt="md5_image" />
        <p><b>Track List:</b> <a href=@d.album.tracklist>@d.album.tracklist</a></p>
        <p><b>Type:</b> @d.album.type</p>
    }
}

@*Where can I find Genre info? Is it type?*@

@*For Artists in a MusicSearch's Datum*@
@foreach (Datum d in Model.data)
{
    //if (d.artist.name == ViewBag.ArtistName)
    if (d.artist.id == ViewBag.ArtistID)
    {
        <h4>Results for Artist ID: @d.artist.id</h4>
        <p><b>Name:</b> @d.artist.name</p>
        <img src="@d.artist.picture" alt="picture" />
        <img src="@d.album.md5_image" alt="md5_image" />
        <p><b>Track List:</b> <a href=@d.artist.tracklist>@d.artist.tracklist</a></p>
        <p><b>Type:</b> @d.artist.type</p>
        <p><b>Link:</b> <a href=@d.artist.link>@d.artist.link</a></p>
    }
}

@*See above for music tracks, as it doesn't look like we can do it under one single search object*@


