
﻿@*@model List<Datum>


    @foreach(Datum d in Model)
    {
        <p>@d.artist</p>
        <p>@d.album</p>

    }*@

@model Datum1

    <p>@Model.title</p>

﻿@model API.NetGroupProject_Music_.Models.MusicSearch
@*foreach(Datum d in Model)
    {
        <p>@d.artist</p>
        <p>@d.album</p>

    }*@

@Html.DisplayFor(model => model.data)

