@model MusicSearch

@{
    List<int> uniqueAlbumIDs = new List<int>();
}
@foreach (Datum d in Model.data)
{
    if (!uniqueAlbumIDs.Contains(d.album.id) && ViewBag.Album == d.album.title.ToLower())
    {
        <p><b>Album ID:</b> @d.album.id</p>
        <p><b>Title:</b> @d.album.title</p>
        <img src="@d.album.cover" alt="@d.album.cover" />
        <form asp-action="albumsearch" asp-controller="music" method="post">
            <input hidden type="number" name="albumID" value="@d.album.id" />
            <input type="submit" value="see track list"/>
        </form>
        <hr />
        uniqueAlbumIDs.Add(d.album.id);
    }
}
<p>Length of Datum data: @Model.data.Length </p>
<p>Unique Albums in data: @uniqueAlbumIDs.Count </p>
<p>
    @if (Model.prev != null)
    {
        <a href="@Model.prev">&larr; Prev</a>
    }
    |
    @if (Model.next != null)
    {
        <a href="@Model.next">Next &rarr;</a>
    }
</p>
