@model MusicSearch

@{
    List<int> uniqueAlbumIDs = new List<int>();
}
@foreach (Datum d in Model.data)
{
    if (ViewBag.Album == d.album.title.ToLower() || !uniqueAlbumIDs.Contains(d.album.id))
    {
        <p><b>Title:</b> @d.album.title</p>
        <img src="@d.album.cover" alt="@d.album.cover" />
        <form asp-area="" asp-controller="Music" asp-action="AlbumSearch" asp-route-albumId="@d.album.id"><button>View TrackList</button></form>
        <hr />
        uniqueAlbumIDs.Add(d.album.id);
    }
}
@*<p>Length of Datum data: @Model.data.Length </p>
<p>Unique Albums in data: @uniqueAlbumIDs.Count </p>
<p>
    @if (Model.prev != null)
    {
        <a href="@Model.prev">&larr; Prev</a>
    }
    |
    @if (Model.next != null)
    {
        <a href="@Model.next">Next &rarr;</a>
    }
</p>*@
