@model AlbumSearch

@foreach (Datum1 d in Model.tracks.data)
{
    <p><b>Title:</b> @d.title</p>
    <p>Length: @d.duration</p>
    <audio controls>
        <source src="@d.preview" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    @*<button>Add <span style="font-size:100%;color:red;">&#10084;</span> to favorites!</button>*@
    <form asp-controller="Music" asp-action="AddFavorite" method="post">
            <input type="hidden" name="album" value="@d.title"/>
            <input type="hidden" name="artist" value="@d.artist.name"/>
            <input type="hidden" name="albumid" value="@d.id"/>
            <input type="hidden" name="artistid" value="@d.artist.id"/>
            <input type="submit" name="Datum" value="Add to Favorites"/>
        </form>
    <hr>
}