@model AlbumSearch
@{

    string album = Model.title;
}

@foreach (Datum1 d in Model.tracks.data)
{
    <p><b>Title:</b> @d.title</p>
    {
        int minutes = d.duration / 60;
        int seconds = d.duration - (minutes * 60);
        string length = "" + minutes + ":";
        if (seconds < 10)
        {
            length = length + "0" + seconds;
        }
        else
        {
            length = length + seconds;
        }
        <p><b>Length:</b> @length</p>
    }
    <audio controls>
        <source src="@d.preview" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <p>Artist: @d.artist.name</p>
    <form asp-area="" asp-controller="Music" asp-action="MusicSearch" asp-route-data="@d.artist.name" asp-route-SearchBy="artist"><button>Search Artist</button></form>
    <p>Album: @album </p>

    @*<button>Add <span style="font-size:100%;color:red;">&#10084;</span> to favorites!</button>*@
<form asp-controller="Music" asp-action="AddFavorite" method="post">
    <input type="hidden" name="album" value="@d.title" />
    <input type="hidden" name="artist" value="@d.artist.name" />
    <input type="hidden" name="albumid" value="@Model.title" />
    <input type="hidden" name="albumid" value="@User.Identity" />

    <input type="submit" name="Datum" value="Add to Favorites" />
</form>

    <hr>
}