@model IEnumerable<API.NetGroupProject_Music_.Models.Favorites>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<head>
    <style>
        body {
            background-image: url("https://www.thewanderinglens.com/wp-content/uploads/2018/12/HEADER-Tokyo-Photography-Locations-A-Photographers-Guide-to-Photo-Spots-in-Tokyo.jpg");
        }

        h2 {
            text-align: center;
        }

        #favorites {
            margin-left: auto;
            margin-right: auto;
        }

        #site-footer {
            background: #ddd;
        }

        .button {
            background-color: #CC99FF;
        }

        #favorites {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 75%;
        }

            #favorites td, #favorites th {
                background-color: #CCF5FF;
                border: 1px solid black;
                padding-top: 2px;
                padding-bottom: 2px;
                text-align: center;
            }

            #favorites tr:nth-child(even) {
                background-color: #CCF5FF;
                text-align: center;
            }

            #favorites tr:hover {
                background-color: #ddd;
            }

            #favorites th {
                padding-top: 4px;
                padding-bottom: 4px;
                text-align: center;
                background-color: #CC99FF;
                color: black;
            }
    </style>
</head>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Album
            </th>
            
            <th>
               Song
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.AlbumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
